* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Open Sans', Arial, sans-serif; /* Replace 'Open Sans' with your chosen font */
  line-height: 1.6;
  color: #333;
  background: #f4f4f4;
}

/* Navigation Bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo img {
  height: 50px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: #333;
  margin-left: 20px;
  font-weight: 600;
}

.navbar .nav-links a.login {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: 20px;
}

.navbar .nav-links a.signup {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
  background-color: #f8f9fa;
  height: 85vh;
}

.hero .hero-text {
  flex-basis: 50%;
}

.hero .hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.hero .hero-text p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #666;
}

.hero .hero-text .email-get-started {
  display: flex;
  align-items: center;
}

.hero .hero-text input[type="email"] {
  padding: 10px;
  margin-right: 1rem;
  font-size: 1rem;
  border: 2px solid #cccccc;
  border-radius: 20px;
  flex-grow: 1;
}

.hero .hero-text button.btn {
  padding: 10px 20px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.hero .hero-image img {
  width: auto;
  max-width: none;
  height: 100%;
  border: none;
  object-fit: contain;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 960px) {
  .hero {
      flex-direction: column;
      height: auto;
  }

  .hero .hero-text,
  .hero .hero-image {
      flex-basis: 100%;
  }

  .hero .hero-image img {
      width: 100%;
      height: auto;
      margin: 0 auto; /* Center image */
  }

  .hero .hero-text {
      text-align: center;
  }

  .hero .hero-image {
    order: 2; /* Image comes second */
    text-align: center;
}

.hero .hero-text .email-get-started {
    flex-direction: column;
    align-items: center;
}

.hero .hero-text input[type="email"] {
    width: 100%;
}

.hero .hero-text button.btn {
    width: 100%;
}
}

/* Further Responsive Adjustments for Smaller Screens */
@media (max-width: 768px) {
  .navbar {
  flex-direction: column;
  align-items: flex-start;
  }
}

.navbar .logo,
.navbar .nav-links {
    width: 100%;
    text-align: center;
}

.navbar .nav-links {
    margin-top: 1rem;
}

.navbar .nav-links a {
    display: inline-block; /* Align links next to each other */
    margin: 0 10px; /* Add some space between links */
}

.hero {
    padding: 2rem;
}
